@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital@0;1&display=swap');

#pseudo{
	width: 100%;
	height: 65px;
}
.navbar{
	height:65px;
	width: 100%;
	position: fixed;
	float: left;
	display: block;
	top: 0px;
	box-shadow: 0px 5px 29.4px rgba(0, 0, 0, 0.25);
	background-color: var(--background);

	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 10px 50px;
	z-index: 10;
}
.navbar>*>*{
	cursor: pointer;
	transition: transform 0.3s;
}
.navbar>*>*:not(.mobile-menu-container, .logo-container>*):hover{
	transform: scale(1.05);
}
.mobile-menu-container2>*:hover{
	transform: scale(1.05);
}
.logo-container{
	display: flex;
	align-items: center;
	gap: 15px;
	transition: transform 0.3s;
}

.logo-img{
	height: 50px;
	width: 50px;
	cursor :pointer;
}

.logo-title-container{
	display: flex;
	flex-direction: column;
	gap: 0px;
}
.logo-title{
	font-family: "Noto Sans", sans-serif;
	font-size: 30px;
	letter-spacing: -0.05em;
	line-height: 0.9;
	margin-top: 10px;
}
.logo-subtitle{
	font-size: 14px;
	margin-left: 3px;
}

.menu-container{
	display: flex;
	justify-content: space-evenly;
	gap: 50px;
	font-family: "Noto Sans", sans-serif;
	font-size: 18px;
}

.mobile-menu{
	display: none;
}
.mobile-menu-container{
	position: fixed;
	top: 75px;
	right: 10px;
	width: 200px;
	height: 250px;
	background: var(--secondary);
	box-shadow: 5px 5px 4.5px rgba(0, 0, 0, 0.25);
	border: #ffbade solid 1px;
	border-radius: 10px;
	z-index: 100;
}

.mobile-menu-container2{
	height: 100%;

	display: flex;
	flex-direction: column;
	gap: 30px;
	justify-content: center;
	align-items: center;
}

@media screen and (max-width:860px){
	.navbar{
		padding: 0px 10px 0px 0px;
	}
	.logo-container{
		scale: 75%;
		margin: 0;
	}
	.menu-container{
		display: none;
	}
	.mobile-menu-container{
		display: block;
	}
	.mobile-menu{
		display: block;
	}
	
	.menu {
		transform: translate(-50%, -50%);
		cursor: pointer;
		transition: 0.5s ease;
		height: 30px;
	  }
	  .menu:hover .bar {
		box-shadow: 1px 1px 7px 1px RGBa(0, 0, 0, 0.3);
	  }
	  .menu .bar {
		width: 25px;
		height: 3px;
		background: #fff;
		box-shadow: 1px 1px 3px RGBa(0, 0, 0, 0.4);
		border-radius: 2px;
		transition: 0.4s ease;
	  }
	  .menu .bar:not(:first-child) {
		margin-top: 5px;
	  }
	  
	  #hi:checked + .menu {
		transform: translate(-50%,50%) rotatey(180deg);
	  }
	  #hi:checked + .menu .bar {
		transform: rotatey(180deg) rotatex(360deg);
	  }
	  #hi:checked + .menu .bar:first-child {
		transform: rotate(-45deg);
		margin-top: 5px;
	  }
	  #hi:checked + .menu .bar:nth-child(2) {
		opacity: 0;
	  }
	  #hi:checked + .menu .bar:nth-child(3) {
		margin-top: -11px;
		transform: rotate(45deg);
	  }
	.menu-icon{
		scale : 80%;
		margin-right: 10px;
	}
	
}