@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background:  #201F31;
    --foreground: #fcfdff;
    --card: #201F31;
    --card-foreground: #fcfdff;
    --popover: #ffffff;
    --popover-foreground: #1d0209;
    --primary: #ffbade;
    --primary-foreground: #1c2230;
    --secondary: #1c1b2b;
    --secondary-foreground: #fcfdff;
    --muted: #f0f4f8;
    --muted-hover: #e6eaf0;
    --muted-foreground: #707a8a;
    --accent: #f0f4f8;
    --accent-hover: #e6eaf0;
    --accent-foreground: #1c2230;
    --destructive: #751a1a;
    --destructive-hover: #8c1f1f;
    --destructive-foreground: #fcfdff;
    --border: #e6eaf0;
    --input: #e6eaf0;
    --ring: #1d0209;
    --radius: 0.5rem;
    --chart-1: #33cc99;
    --chart-2: #4db8ff;
    --chart-3: #3366cc;
    --chart-4: #ffcc33;
    --chart-5: #ff9933;

    --black: 0, 0, 0;
    --white: 255, 255, 255;
  }
}

@layer base {
  * {
    @apply border-border;
  }

  body {
    @apply bg-background text-foreground font-body;
  }

  h1, h2, h3, h4, h5, h6 {
    @apply font-heading;
  }
}


input, button, textarea, select {
  font: inherit;
}

::-webkit-scrollbar {
  height: 5px;
  width: 5px;
  background: var(--primary-color);
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-thumb {
  background: white;
  -webkit-border-radius: 1ex;
}

::-webkit-scrollbar-corner {
  background: #fff3;
}