* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  height: 100vh;
  width: 100%;
  background: #1f4068;
  color: black;
}
h1 {
  text-align: center;
}

.wt {
  color: #fff;
}
