.main__blog {
  color: #ffffff;
  
}
.blog_text {
  position: absolute;
  top: -4%;
  left: -3%;
  font-size: 16vw;
  font-family: Impact, Haettenschweiler, "Arial Narrow Bold", sans-serif;
  color: rgb(53, 53, 53, 0.2);
  user-select: none;
}
.main__blog__wrap {
  max-width: 700px;
  margin-left: auto;
  margin-right: auto;
  padding: 56px 28px;
 
}
.main__text {
  font-size: 80px;
  color: #29a19c;
  margin-bottom: 30px;
}
.blog-title {
  padding: 0;
  font-size: 27.7px;
  font-family: Montserrat, sans-serif;
  line-height: 1.1;
  font-weight: 900;
  margin: 0 0 7px;
  cursor: pointer;
  text-decoration: underline;
}
.blog-title a {
  color: #a3f7bf;
}
small {
  font-size: smaller;
  color: rgb(235 65 138);
}
.blog-desc {
  padding: 1rem 0;
  margin: 0 0 28px;
}

.blog{
  border:2px solid purple;
  margin: 2rem;
  padding: 2rem;


}
