@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
#foobar {
  position: relative;
}
.event-archive-parent {
  width: 80vw;
  margin: 6% auto 3% auto;
}
.bg-text {
  font-family: Josefin Sans;
  font-size: 24vw;
  font-style: normal;
  font-weight: 700;
  line-height: 23.4vw;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
  z-index: -1;
  color: rgb(34, 34, 34);
  user-select: none;
  position: absolute;
  top: -10vw;
  overflow: hidden;
}
.event-archive-head-cont {
  width: 25%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-archive-head-text {
  font-family: Open Sans;
  font-size: 2.8vw;
  font-style: normal;
  font-weight: 400;
  line-height: 3.8vw;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
}
.event-archive-head-img {
  width: 4.2vw;
  height: 4.2vw;
  padding: 0.68vw;
  border-radius: 50%;
  background-color: #602080;
  display: flex;
  justify-content: center;
  align-items: center;
}
.event-archive-head-img img {
  width: 100%;
}
.event-archive-btns {
  margin: 3% 0 2% 0;
  display: flex;
  flex-direction: row-reverse;
}
.btn-year1,
.btn-year2 {
  width: 13%;
  color: #f2f2f2;
  font-family: Arial;
  font-size: 2.25vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5vw;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  padding: 0.5vw 2.2vw;
  border: none;
  border-radius: 32px;
  margin-left: 0.625vw;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}

.btn-year1 {
  background-color: #602080;
}

.event-archive .year1 {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  transition-property: display;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}
.event-archive .year2 {
  display: none;
  flex-flow: row;
  justify-content: space-between;
  transition-property: display;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}

.archived-event-detail {
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 30vw;
  cursor: pointer;
}

.archived-event-photo {
  width: fit-content;
  height: fit-content;
}
.archived-event-photo img {
  width: 100%;
}

.archived-event-name {
  font-family: Roboto Slab;
  font-size: 1.8vw;
  font-style: normal;
  font-weight: 700;
  line-height: 2.4vw;
  letter-spacing: 0em;
  color: #f2f2f2;
}

.archived-event-date {
  display: flex;
  align-items: center;
}

.archived-event-date-img {
  padding: 0 0.5vw 0 0;
}

.archived-event-date-img img {
  width: 3vw;
  height: 3vw;
}

.archived-event-date-text {
  font-family: Arsenal;
  font-size: 1.65vw;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: #ffffff;
}

@media screen and (max-width: 850px) {
  .event-archive-head-cont {
    width: 63%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .event-archive-head-text {
    font-size: 7.5vw;
    line-height: 5vw;
  }
  .event-archive-head-img {
    width: 10vw;
    height: 10vw;
    padding: 1.5vw;
    border-radius: 50%;
    background-color: #602080;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .btn-year1,
  .btn-year2 {
    width: 13%;
    font-size: 4vw;
    line-height: 4vw;
    padding: 1vw 7vw;
    margin-left: 4vw;
  }

  .event-archive .year1 {
    flex-flow: column;
    justify-content: space-between;
  }
  .event-archive .year2 {
    display: none;
    flex-flow: column;
  }
  .archived-event-detail {
    width: 100%;
    height: fit-content;
    padding-top: 7%;
    padding-bottom: 8%;
    display: flex;
    flex-flow: column;
    align-items: center;
  }
  .archived-event-photo {
    width: 80%;
  }
  .archived-event-name {
    padding-top: 3%;
    width: 80%;
    font-size: 5vw;
    line-height: 6vw;
  }
  .archived-event-date {
    width: 80%;
    padding-top: 3%;
    display: flex;
    align-items: center;
  }
  .archived-event-date-img {
    padding: 0 0.7vw 0 0;
  }
  .archived-event-date-img img {
    width: 7vw;
    height: 7vw;
  }
  .archived-event-date-text {
    font-size: 4.5vw;
    line-height: 5vw;
  }
}
