.carousel-bg {
  background-color: rgb(24, 24, 24);
}
.mySwiper {
  width: 80vw;
  height: fit-content;
  padding-top: 3%;
  padding-bottom: 8%;
  color: white;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 2vw;
}
.swiper-pagination-bullet {
  width: 1.2vw;
  height: 1.2vw;
  margin: 0 0.8vw !important;
  display: inline-block;
  border-radius: 50%;
  background: #d4d3d3;
}
.swiper-pagination-bullet-active {
  width: 1.5vw;
  height: 1.5vw;
  background: #602080;
}

/* Carousel Styling */
.event-slide {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-areas:
    "name photo"
    "name photo"
    "date photo"
    "buttons photo";
  row-gap: 5%;
}
.event-name {
  grid-area: name;
  width: 40vw;
  height: fit-content;
  font-family: Montserrat;
  font-size: 4.5vw;
  font-style: normal;
  font-weight: 300;
  line-height: 5vw;
  letter-spacing: 0em;
  text-align: left;
  color: #f6eeff;
}
.event-date {
  grid-area: date;
  width: 40vw;
  font-family: Arial;
  font-style: normal;
}
.day {
  padding-right: 10px;
  font-weight: 700;
  font-size: 3vw;
  line-height: 3.5vw;
  color: #f6eeff;
}
.month {
  color: #602080;
  font-weight: 400;
  font-size: 2.6vw;
  line-height: 3.2vw;
}
.event-photo {
  height: 100%;
  grid-area: photo;
}
.event-photo img {
  width: 100%;
}
.event-buttons {
  width: 40vw;
  grid-area: buttons;
}
.register,
.details {
  width: 10vw;
  color: #f2f2f2;
  font-family: Montserrat;
  font-size: 1.5vw;
  font-style: normal;
  font-weight: 400;
  line-height: 1.8vw;
  letter-spacing: 0em;
  text-align: left;
  background-color: #602080;
  border: none;
  border-radius: 11px;
  padding: 0.73vw 1.1vw;
  margin-right: 2.2vw;
  margin-top: 1.1vw;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 850px) {
  .event-slide {
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-photo {
    width: 95%;
    height: fit-content;
    grid-area: photo;
  }
  .event-name {
    width: 100%;
    text-align: center;
    padding-top: 7%;
    font-size: 9vw;
    line-height: 10vw;
  }
  .event-date {
    text-align: center;
    padding-top: 7%;
  }
  .day {
    font-size: 7vw;
    line-height: 4.5vw;
  }
  .month {
    font-size: 7vw;
    line-height: 4.5vw;
  }
  .event-buttons{
    padding-top: 7%;
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .register,.details {
    width: 50%;
    box-sizing: border-box;
    font-size: 4.3vw;
    font-weight: 500;
    width: 100%;
    padding: 6% 0%;
    margin: 6% 7%;
  }
}
