.back-btn {
  position: fixed;
  width: 3.3vw;
  height: 3.3vw;
  padding: 1px;
  bottom: 3%;
  left: 1%;
  border-radius: 50%;
  background-color: #602080;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}
.back-btn img {
  width: 60%;
}
.event-container {
  width: 88vw;
  margin: 2% auto 5% auto;
  display: flex;
  position: relative;
}
.event-l-col {
  width: 55%;
  border-right: 2px solid #602080;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
}
.event-r-col {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.event-name-detailpg {
  grid-area: name;
  width: 40vw;
  height: fit-content;
  font-family: Montserrat;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f6eeff;
  padding-bottom: 5%;
}
.event-date-detailpg {
  grid-area: date;
  width: 40vw;
  font-family: Arial;
  font-style: normal;
  padding-bottom: 5%;
}
.day-detailpg {
  padding-right: 10px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: #f6eeff;
}
.month-detailpg {
  color: #602080;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.event-details {
  font-family: Open Sans;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 200;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
  width: 80%;
  padding-bottom: 5%;
}
.content-horiz {
  display: flex;
  align-items: center;
  width: 100%;
  padding-bottom: 5%;
}
.event-address {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #602080;
  width: 50%;
}
.register-detailpg {
  min-width: 11vw;
  color: #f2f2f2;
  font-family: Montserrat;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  background-color: #602080;
  border: none;
  border-radius: 11px;
  padding: 0.7vw 1vw;
  margin-right: 2.2vw;
  margin-top: 1.1vw;
  text-align: center;
  cursor: pointer;
}
.event-info {
  display: flex;
  justify-content: space-between;
  width: 92%;
  padding-bottom: 5%;
}
.event-key {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
  color: #602080;
  width: 50%;
}
.event-value {
  font-family: Montserrat;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
  width: 50%;
}
.poweredby {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #602080;
  font-family: Montserrat;
  font-size: 1.8rem;
  font-style: normal;
  font-weight: 300;
  line-height: 1.8rem;
  letter-spacing: 0em;
  text-align: left;
  position: absolute;
  bottom: 0;
  right: 0;
}
.poweredby img {
  max-width: 3.4vw;
  max-height: 3.4vw;
  border-radius: 100%;
  border: none;
  padding-left: 6%;
}
.calendar-btn {
  display: block;
  margin: 0 auto 4% auto;
  padding: 0.8vw 1.3vw;
}

@media screen and (max-width: 1400px) {
  .event-container {
    width: 92vw;
  }
}
@media screen and (max-width: 1080px){
  .event-name-detailpg {
    font-size: 2.7rem;
    line-height: 3.3rem;
  }
  .day-detailpg {
    font-size: 2rem;
    line-height: 2vw;
  }
  .month-detailpg {
    font-size: 2rem;
    line-height: 2rem;
  }
  .event-details {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .event-address {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .register-detailpg {
    font-size: 1.1rem;
  }
  .event-key {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .event-value {
    font-size: 1.4rem;
    line-height: 1.4rem;
  }
  .poweredby {
    font-size: 1.6rem;
    line-height: 1.6rem;
  }
  .poweredby img {
    max-width: 6vw;
    max-height: 6vw;
  } 
}
@media screen and (max-width: 850px) {
  .event-container {
    flex-direction: column;
    height: fit-content;
  }
  .event-l-col {
    border: none;
    width: 100%;
  }
  .event-r-col {
    width: 100%;
    align-items: flex-start;
  }
  .event-info {
    width: fit-content;
  }
  .event-name-detailpg {
    text-align: left;
    font-size: 5.5rem;
    line-height: 12vw;
    width: 90%;
    padding-top: 6%;
  }
  .event-date-detailpg {
    padding-top: 6%;
  }
  .day-detailpg,.month-detailpg {
    font-size: 5rem;
    line-height: 3rem;
  }
  .event-details {
    padding-top: 6%;
    font-size: 3rem;
    line-height: 4rem;
    width: 100%;
  }
  .cont-horiz {
    padding-top: 7%;
    padding-bottom: 4%;
  }
  .event-address {
    font-size: 3rem;
    line-height: 4rem;
    width: 70%;
  }
  .register-detailpg {
    box-sizing: border-box;
    font-size: 3rem;
    font-weight: 500;
    padding: 5% 5%;
    text-align:center;
  }
  .event-info {
    display: flex;
    justify-content: flex-start;
    width: 100%;
    padding-top: 6%;
  }
  .event-key {
    font-size: 5rem;
    line-height: 6rem;
    width: 45%;
  }
  .event-value {
    font-size: 5rem;
    line-height: 6rem;
    width: fit-content;
    padding-left: 5%;
  }
  .poweredby {
    position: relative;
    font-size: 5rem;
    line-height: 6rem;
    width: 50%;
    padding-top: 6%;
  }
  .poweredby img {
    max-width: 7vw;
    max-height: 7vw;
  }
  .back-btn {
    position: fixed;
    width: 6vw;
    height: 6vw;
    padding: 1px;
    bottom: 3%;
    left: 2%;
  }
  .calendar-btn {
    margin: 0 auto 6% auto;
  }
}
