.carousel-bg {
  background-color: rgb(24, 24, 24);
}
.mySwiper {
  width: 80vw;
  height: 80vh;
  padding-top: 2%;
  color: white;
}
.swiper-pagination-bullet {
  width: 18px;
  height: 18px;
  margin: 0 12px !important;
  display: inline-block;
  border-radius: 50%;
  background: #d4d3d3;
}
.swiper-pagination-bullet-active {
  width: 22px;
  height: 22px;
  background: #602080;
}

/* Carousel Styling */
.event-slide {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-areas:
    "name photo"
    "name photo"
    "date photo"
    "buttons photo";
  row-gap: 5%;
}
.event-name {
  grid-area: name;
  width: 40vw;
  height: fit-content;
  font-family: Montserrat;
  font-size: 64px;
  font-style: normal;
  font-weight: 300;
  line-height: 78px;
  letter-spacing: 0em;
  text-align: left;
  color: #f6eeff;
}
.event-date {
  grid-area: date;
  width: 40vw;
  font-family: Arial;
  font-style: normal;
}
.day {
  padding-right: 10px;
  font-weight: 700;
  font-size: 45px;
  line-height: 52px;
  color: #f6eeff;
}
.month {
  color: #602080;
  font-weight: 400;
  font-size: 40px;
  line-height: 46px;
}
.event-photo {
  height: 100%;
  grid-area: photo;
}
.event-photo img {
  width: 100%;
}
.event-buttons {
  width: 40vw;
  grid-area: buttons;
}
.register,
.details {
  width: 10vw;
  color: #f2f2f2;
  font-family: Montserrat;
  font-size: 24px;
  font-style: normal;
  font-weight: 400;
  line-height: 29px;
  letter-spacing: 0em;
  text-align: left;
  background-color: #602080;
  border: none;
  border-radius: 11px;
  padding: 10px 0;
  margin-right: 30px;
  text-align: center;
  cursor: pointer;
}
