@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto+Slab&display=swap");
.event-archive-parent {
  width: 80vw;
  margin: 6% auto 3% auto;
}
.bg-text {
  font-family: Josefin Sans;
  font-size: 24vw;
  font-style: normal;
  font-weight: 700;
  line-height: 375px;
  letter-spacing: 0em;
  text-align: center;
  width: 100%;
  z-index: -1;
  color: rgb(34, 34, 34);
  user-select: none;
  position: absolute;
  bottom: -25vh;
  overflow: hidden;
}
.event-archive-head-cont {
  width: 26%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event-archive-head-text {
  font-family: Open Sans;
  font-size: 2.62rem;
  font-style: normal;
  font-weight: 400;
  line-height: 57px;
  letter-spacing: 0em;
  text-align: left;
  color: #f2f2f2;
}
.event-archive-head-img {
  width: 65px;
  height: 65px;
  padding: 10px;
  border-radius: 50%;
  background-color: #602080;
}
.event-archive-head-img img {
  width: 100%;
}
.event-archive-btns {
  margin: 3% 0 2% 0;
  display: flex;
  flex-direction: row-reverse;
}
.btn-year1,
.btn-year2 {
  width: 13%;
  color: #f2f2f2;
  font-family: Arial;
  font-size: 2.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: 41px;
  letter-spacing: 0em;
  text-align: left;
  background: none;
  padding: 8px 40px;
  border: none;
  border-radius: 32px;
  margin-left: 10px;
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  transition-property: background-color;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}

.btn-year1 {
  background-color: #602080;
}

.event-archive .year1{
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  transition-property: display;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}
.event-archive .year2 {
  display: none;
  flex-flow: row;
  justify-content: space-between;
  transition-property: display;
  transition-duration: 0.38s;
  transition-timing-function: ease-in-out;
}

.archived-event-detail {
  width: 30%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
  height: 30vw;
  cursor: pointer;
}

.archived-event-photo{
  width: fit-content;
  height: fit-content;
}
.archived-event-photo img {
  width: 100%;
}

.archived-event-name {
  font-family: Roboto Slab;
  font-size: 1.75rem;
  font-style: normal;
  font-weight: 700;
  line-height: 40px;
  letter-spacing: 0em;
  color: #f2f2f2;
}

.archived-event-date {
  display: flex;
  align-items: center;
}

.archived-event-date-img {
  padding: 0 10px 0 0;
}

.archived-event-date-img img {
  width: 80%;
}

.archived-event-date-text {
  font-family: Arsenal;
  font-size: 1.56rem;
  font-style: italic;
  font-weight: 400;
  line-height: 35px;
  letter-spacing: 0em;
  color: #ffffff;
}
