.carousel-bg {
  background-color: rgb(24, 24, 24);
}
.mySwiper {
  width: 80vw;
  height: fit-content;
  padding-top: 3%;
  padding-bottom: 10%;
  color: white;
}
.swiper-container-horizontal > .swiper-pagination-bullets {
  bottom: 2.5vw;
}
.swiper-pagination-bullet {
  width: 1.2vw;
  height: 1.2vw;
  margin: 0 0.8vw !important;
  display: inline-block;
  border-radius: 50%;
  background: #d4d3d3;
}
.swiper-pagination-bullet-active {
  width: 1.5vw;
  height: 1.5vw;
  background: #602080;
}

/* Carousel Styling */
.event-slide {
  height: fit-content;
  width: 100%;
  display: grid;
  grid-template-areas:
    "name photo"
    "name photo"
    "date photo"
    "buttons photo";
  row-gap: 6%;
}
.event-name {
  grid-area: name;
  width: 40vw;
  height: fit-content;
  font-family: Montserrat;
  font-size: 3.5rem;
  font-style: normal;
  font-weight: 300;
  line-height: 4rem;
  letter-spacing: 0em;
  text-align: left;
  color: #f6eeff;
}
.event-date {
  grid-area: date;
  width: 40vw;
  font-family: Arial;
  font-style: normal;
}
.day {
  padding-right: 10px;
  font-weight: 700;
  font-size: 2.3rem;
  line-height: 2.3rem;
  color: #f6eeff;
}
.month {
  color: #602080;
  font-weight: 400;
  font-size: 2.3rem;
  line-height: 2.3rem;
}
.event-photo {
  height: 100%;
  grid-area: photo;
}
.event-photo img {
  width: 85%;
  margin: 0 auto;
  display: block;
}
.event-buttons {
  width: 40vw;
  grid-area: buttons;
}
.register,
.details {
  min-width: 11vw;
  color: #f2f2f2;
  font-family: Montserrat;
  font-size: 1.3rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
  letter-spacing: 0em;
  text-align: left;
  background-color: #602080;
  border: none;
  border-radius: 11px;
  padding: 0.7vw 1vw;
  margin-right: 2.2vw;
  margin-top: 1.1vw;
  text-align: center;
  cursor: pointer;
}

@media screen and (max-width: 1150px) {
  .event-name{
    font-size: 3rem;
    line-height: 3.7rem;
  }
  .day {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
  .month {
    font-size: 2.2rem;
    line-height: 2.2rem;
  }
}

@media screen and (max-width: 980px) {
  .event-name{
    font-size: 2.6rem;
    line-height: 3.5rem;
  }
  .day {
    font-size: 2rem;
    line-height: 2rem;
  }
  .month {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 850px) {
  .event-slide {
    width: 82vw;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .event-photo {
    width: 85%;
    height: fit-content;
    grid-area: photo;
  }
  .event-name {
    width: 100%;
    text-align: center;
    padding-top: 7%;
    font-size: 4rem;
    line-height: 5rem;
  }
  .event-date {
    text-align: center;
    padding-top: 7%;
  }
  .day {
    font-size: 3rem;
    line-height: 2rem;
  }
  .month {
    font-size: 3rem;
    line-height: 2.5rem;
  }
  .event-buttons{
    padding-top: 7%;
    display: flex;
    justify-content: center;
    width: 70%;
  }
  .register,.details {
    width: 50%;
    box-sizing: border-box;
    font-size: 1.9rem;
    font-weight: 500;
    padding: 5% 0%;
    margin: 6% 7%;
  }
}

@media screen and (max-width: 650px){
  .event-name {
    font-size: 3rem;
    line-height: 4rem;
  }
  .day {
    font-size: 2.3rem;
    line-height: 2rem;
  }
  .month {
    font-size: 2.3rem;
    line-height: 2rem;
  }
  .event-buttons{
    width: 80%;
  }
  .register,.details {
    width: 50%;
    box-sizing: border-box;
    font-size: 1.6rem;
    padding: 5% 0%;
    margin: 6% 7%;
  } 
}

@media screen and (max-width: 500px){
  .event-name {
    font-size: 2.3rem;
    line-height: 3rem;
  }
  .day {
    font-size: 2rem;
    line-height: 2rem;
  }
  .month {
    font-size: 2rem;
    line-height: 2rem;
  }
  .event-buttons{
    width: 100%;
  }
  .register,.details {
    width: 50%;
    box-sizing: border-box;
    font-size: 1.3rem;
    padding: 4% 0%;
  } 
}

@media screen and (max-width: 380px){
  .event-name {
    font-size: 2rem;
    line-height: 3rem;
  }
  .day {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .month {
    font-size: 1.8rem;
    line-height: 2rem;
  }
  .event-buttons{
    width: 100%;
  }
  .register,.details {
    width: 50%;
    box-sizing: border-box;
    font-size: 1.1rem;
    padding: 4% 0%;
  } 
}