.timer-container {
  width: 80vw;
  margin: 4% auto;
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.timer-item {
  display: flex;
  flex-direction: column;
  align-items: center;
}

@import url("https://fonts.googleapis.com/css2?family=Orbitron&display=swap");

.timer-title {
  font-family: Orbitron;
  font-size: 2.4rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3rem;
  letter-spacing: 0em;
  text-align: left;
  color: #707070;
}

.timer-value {
  font-family: Orbitron;
  font-size: 10rem;
  font-style: normal;
  font-weight: 400;
  line-height: 11.2rem;
  letter-spacing: 0em;
  text-align: left;
  color: #707070;
}

@media screen and (max-width: 1080px){
  .timer-title {
    font-size: 2rem;
    line-height: 2.6rem;
  }
  
  .timer-value {
    font-size: 8rem;
    line-height: 9rem;
  } 
}
@media screen and (max-width: 850px) {
  .timer-container {
    margin: 9% auto;
    width: 82vw;
  }
  .timer-title {
    font-size: 4rem;
    line-height: 5rem;
  }

  .timer-value {
    font-size: 15.5rem;
    line-height: 16rem;
  }
}
