/*   */
.footer {
  display: flex;
  flex-flow: row;
  justify-content: space-between;
  /* background-color: #0d0d0d; */
  border-top: 2px solid grey;
  width: 85%;
  margin: 0 auto;
  padding-top: 30px;
  padding-bottom: 50px;
  overflow: hidden;
}
@media (min-width: 600px) and (max-width: 823px) {
  .footer {
    padding-top: 21px;
    padding-bottom: 0px;
    height: 80%;
  }
}
@media (max-width: 600px) {
  .footer {
    justify-content: center;
    width: 96%;
    flex-flow: column;
    padding: 21px 0px 50px;
    height: 450px;
    margin: 2%;
  }
}
.footer_u {
  display: flex;
  flex-flow: row;
  justify-content: flex-start;
  width: 65%;
  height: 150%;
  margin: auto;
}
@media (min-width: 600px) and (max-width: 823px) {
  .footer_u {
    width: 70%;
    height: 80%;
  }
}
.footer_u__logo {
  display: flex;
  flex-flow: row;
  justify-content: left;
  margin: auto;
}
@media (max-width: 823px) {
  .footer_u__logo {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .footer_u__logo {
    justify-content: center;
    width: 100%;
    height: 95%;
  }
}

.footer_u__logo__div {
  margin: auto;
}
@media (max-width: 600px) {
  .footer_u__logo__div {
    width: 10%;
    position: absolute;
    left: 10vw;
    margin: 20px;
  }
}

.footer_u__logo_svg {
  border-radius: 50%;
  width: 100px;
}
@media (max-width: 600px) {
  .footer_u__logo_svg {
    width: 100%;
    justify-content: right;
  }
}
.footer_u__logo_span {
  margin: auto;
  font-size: 30px;
  padding: 20px;
  font-weight: 280;
  line-height: 1.13;
  text-align: left;
  color: rgb(255 255 255);
}
.footer_l {
  display: flex;
  flex-flow: row;
  justify-content: center;
}
@media (min-width: 812px) {
  .footer_l {
    justify-content: flex-end;
    width: 78%;
  }
}
@media (max-width: 823px) {
  .footer_l {
    justify-content: flex-start;
    margin-left: 2.5vw;
    margin-right: 2.5vw;
    width: 89%;
    height: 80%;
  }
}
@media (max-width: 600px) {
  .footer_l {
    flex-flow: column;
    margin: auto;
    justify-content: center;
    width: 100%;
    height: 100%;
  }
}
.footer_l__links {
  width: 160px;
  height: 168px;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.15;
  text-align: left;
  color: #fff;
  padding-left: 5%;
}
@media (max-width: 1280px) {
  .footer_l__links {
    font-size: 12px;
    padding-left: 0%;
    width: 144px;
  }
}
@media (max-width: 823px) {
  .footer_l__links {
    width: 90px;
    height: 122px;
    font-size: 10px;
    padding-left: 0px;
  }
}
@media (max-width: 600px) {
  .footer_l__links {
    width: 100%;
    font-size: 87.04%;
    padding-left: 0px;
    height: 90%;
    justify-content: center;
    text-align: center;
    padding-bottom: 2rem;
  }
}
.footer_l__links_content {
  padding: 8px 2px;
  width: 400px;
}
@media (max-width: 823px) {
  .footer_l__links_content {
    width: 100%;
    padding: 6px 2px;
  }
}
@media (max-width: 600px) {
  .footer_l__links_content {
    width: 100%;
    padding: 6px 0px;
  }
}
.footer_l__links_cn {
  color: #fff;
}
.footer_l__contact {
  width: 100%;
  height: 168px;
  font-size: 100%;
  font-weight: 300;
  line-height: 1.15;
  text-align: left;
  color: #fff;
  padding-left: 3.2%;
}
@media (max-width: 1280px) {
  .footer_l__contact {
    font-size: 12px;
    padding-left: 0%;
  }
}
@media (max-width: 823px) {
  .footer_l__contact {
    font-size: 10px;
    padding-left: 3%;
  }
}
@media (max-width: 600px) {
  .footer_l__contact {
    width: 100%;
    font-size: 87.04%;
    padding-left: 0px;
    text-align: center;
    justify-content: center;
    padding-bottom: 10px;
  }
}
.footer_l__contact_content {
  padding: 8px 2px;
  width: 400px;
}
@media (max-width: 823px) {
  .footer_l__contact_content {
    width: 100%;
    padding: 6px 2px;
  }
}
@media (max-width: 600px) {
  .footer_l__contact_content {
    width: 100%;
    padding: 6px 0px;
  }
}
.footer_l__contact_cn {
  color: #fff;
}
.footer_l__contact_gmap {
  padding: 16px 0px;
}
@media (max-width: 823px) {
  .footer_l__contact_gmap {
    padding: 12px 0px;
  }
}
.footer_l__hr {
  display: flex;
  font-family: "Galano-Bold";
}
@media (max-width: 600px) {
  .footer_l__hr {
    justify-content: center;
  }
}
@media (max-width: 600px) {
  .footer_l__hr_container {
    justify-content: center;
  }
}
.footer_l__hr_text {
  width: 52.2px;
  padding-top: 12px;
  padding-left: 9.6px;
  height: 0px;
}
@media (max-width: 823px) {
  .footer_l__hr_text {
    width: 28px;
    padding-top: 8px;
  }
}
@media (max-width: 600px) {
  .footer_l__hr_text {
    justify-content: center;
  }
}
.footer_l__hr_text_1 {
  width: 28px;
  padding-top: 8px;
  padding-left: 9.6px;
  padding-right: 9.6px;
  height: 0px;
}
@media (min-width: 600px) {
  .footer_l__hr_text_1 {
    display: none;
  }
}
footer a {
  color: #fff;
  text-decoration: none;
}
footer b {
  font-weight: 3500;
}
.footer-bottom {
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to right, transparent, #373737, transparent);
}
.footer-bottom span {
  padding: 10px;
  display: flex;
  color: #fff;
  justify-content: center;
  align-items: center;
  background: rgb(0 0 0 / 0%);
}
.footer-bottom span:first-of-type {
  border-right: 3px solid #f638dc;
}
.footer-bottom span img {
  margin-left: 10px;
  height: 20px;
  display: inline-block;
}
@media screen and (max-width: 600) {
  .footer-bottom {
    font-size: 12px;
  }
}
