<<<<<<< HEAD
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Open+Sans:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat&family=Noto+Sans&family=Open+Sans:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
#cover-display {
  background-color: #181818;
  width: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: hidden;
}
#flex-container {
  display: flex;
  flex-direction: row;
  width: 83%;
  justify-content: space-between;
  margin: auto;
  align-items: center;
}
.display-head {
  display: flex;
  flex-direction: column;
  justify-items: center;
}
.display-heading {
  font-family: "Montserrat";
  font-style: normal;
  margin-top: 77px;
  font-weight: 50;
  font-size: 64px;
  font-size-adjust:0.58;
  line-height: 78px;
  letter-spacing: -0.05em;
  color: #ffffff;
}
.manage-goodline{
  width: 80%;
}
.good-line {
  font-family: "Open Sans";
  font-style: normal;
  font-weight: 300;
  font-size: 32px;
  line-height: 45px;
  letter-spacing: -0.04em;
  color: #ffffff;

}
.inf-btn {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 65px;
  margin-left: 10%;
  margin-right: 20%;
}
.trans-btn {
  border: 1px solid #f638dc;
  box-sizing: border-box;
  border-radius: 27.5px;
  font-family: "Noto Sans";
  font-style: normal;
  font-weight: normal;
  font-size: 24px;
  line-height: 33px;
  letter-spacing: -0.05em;
  color: #f638dc;
  padding: 1% 9%;
  background-color: #181818;
  cursor: pointer;
}
.trans-btn:hover{
  background-color: #f638dc;
  color: #000000;
}
.coder-image {
  width: 40%;
  height: 55%;
}
@media only screen and (max-width: 1050px){
  .display-heading{
    font-weight: 300;
    font-size : 42px;
    line-height: 40px;
    margin-top: 0;
  }
  .good-line{
    font-size: 22px;
    line-height: 30px; 
  }
  .coder-image
  {
  width: 40%;
  height: 55%;
  }
  .trans-btn {
    font-size: 15px;
    line-height: 12px;
    padding: 5px 20px;
  }
  .inf-btn{
  margin-top: 20px;
  margin-right:10%;
  }

}
@media only screen and (max-width: 800px) {
   #flex-container{
    flex-direction: column-reverse;
    align-items: center;
  } 
  .coder-image
  {
  width: 40%;
  height: 55%;
  }
  .display-heading{
    margin-top: 0;
    font-weight: 300;
    font-size: 30px;
    line-height: 35px;
  }
  .good-line {
    font-size: 18px;
    line-height: 25px;
  }
  .trans-btn {
    font-size: 15px;
    line-height: 12px;
    padding: 1% 9%;
  }
  .inf-btn{
  margin-top: 20px;
  margin-right:10%;
  }
}
